*~
.classpath
.project
.settings
target
*/bin/
**/build/
/.gradle
/gradle
/gradlew
/gradlew.bat
/buildSrc/.gradle
/test-references/**/candidate/
/test-references/**/candidate-ref/
/test-references/**/candidate-variation/
/test-resources/io/sf/carte/echosvg/bridge/JarCheckPermissionsDenied.jar
/test-resources/io/sf/carte/echosvg/bridge/JarCheckPermissionsGranted.jar
/test-reports/
