*~
.classpath
.project
.settings
*/bin/
**/build/
/.idea
/.gradle
/buildSrc/.gradle
/CHANGES.txt

/test-references/**/candidate/
/test-references/**/candidate-ref/
/test-references/**/candidate-reference/
/test-references/**/candidate-variation/
/test-resources/io/sf/carte/echosvg/bridge/JarCheckPermissionsDenied.jar
/test-resources/io/sf/carte/echosvg/bridge/JarCheckPermissionsGranted.jar
/test-reports/

/jar/
