*~
.classpath
.project
.settings
target
*/bin/
**/build/
/.gradle
/gradle
/gradlew
/gradlew.bat
/buildSrc/.gradle
/test-resources/io/sf/carte/echosvg/bridge/JarCheckPermissionsDenied.jar
/test-resources/io/sf/carte/echosvg/bridge/JarCheckPermissionsGranted.jar
