* text=auto eol=lf
*.java text eol=lf
*.properties text eol=lf
*.css text eol=lf
*.svg text eol=lf
*.html text eol=lf
*.xhtml text eol=lf
*.xml text eol=lf
*.dtd text eol=lf
*.txt text
*.sh text eol=lf
*.bat text eol=crlf
*.png binary
*.jar binary
