// -----------------------------------------------------------------------------
//
//   See the NOTICE file distributed with this work for additional
//   information regarding copyright ownership.
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
//
// $Id: rasterizer.bin.policy 476799 2006-11-19 11:33:41Z cam $
// -----------------------------------------------------------------------------

grant codeBase "${app.jar.base}/xml-apis-ext-${xmlapis.version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/xml-apis-${xmlapis.version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/xalan-${xalan.version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/xercesImpl-2.9.1.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/../echosvg-rasterizer-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-svgrasterizer-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-ext-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-dom-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-css-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-svg-dom-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-gvt-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-parser-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-script-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-bridge-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-swing-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-transcoder-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-gui-util-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-awt-util-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-util-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-xml-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/fop-transcoder-allinone-${xmlgraphics.commons.version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/xmlgraphics-commons-${xmlgraphics.commons.version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-anim-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-codec-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-extension-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/echosvg-svggen-${version}.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/js.jar" {
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.net.SocketPermission "*", "listen, connect, resolve, accept";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.util.PropertyPermission "org.mozilla.javascript.JavaAdapter", "read";
  permission java.util.PropertyPermission "org.mozilla.javascript.JavaAdapterClassName", "read";
  permission java.io.FilePermission "<<ALL FILES>>", "read";
};

grant {
 permission java.io.FilePermission  "${app.jar.base}/echosvg-svg-dom-${version}.jar", "read";
};

